@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'aquire';
  src: url("../fonts/aquire-font/Aquire-BW0ox.otf") format('opentype'),

}
@font-face{
  font-family: 'lato';
  src:url("../fonts/lato/Lato-Black.ttf")format('truetype'),
}
@font-face {
  font-family: 'Julietta Messie';
  src: url("../fonts/Juliette/Julietta-Messie.otf") format('opentype'),

}

@font-face {
  font-family: 'ROG LyonsType';
  src: url("../fonts/ROG/ROGLyonsTypeRegular3.ttf") format('truetype');
}
@font-face{
  font-family: 'Montserrat';;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf")format('truetype');
}

body{
  /* background-color:#ded8cd; */
background-color:#000000; 
overflow-x: hidden;

}

header,
section {
  overflow-x: hidden;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2c2e2eaf;
  --bggradient: linear-gradient(to bottom, #000000, #40BEDE);
  --light-gray: rgba(255, 255, 255, 0.877);
}
/*----Nav Bar-------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-right: 6.25rem;
  z-index: 1;
}

.logo{
  height: 35px;
   width: auto; 
 
}
.navbar-links {
  height: 100%;
  margin-right:5vmin;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  margin-top: 0.1rem;
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li a:hover {
  color: #EB9C4D;
}

.brand-title {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

@media (max-width: 800px) {


  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    position: absolute;
    top: 0.75rem;
    right: 1rem;
  }

  .navbar-links {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;

    z-index: 1;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: right;
  }

  .navbar-links ul li a {
    padding: 5px 2px;
  }

  .navbar-links.active {
    display: flex;

  }
  .navbar-links.active ul li {
    background-color: rgba(0, 0, 0, 0.8); /* Dark background for li elements */
  }
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.toggle-button .bar:active {
  background-color: #d98f05;
}

@media (max-width: 800px) {
  .info{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      margin-top: 1.1rem;
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: right;
  }

  .navbar-links ul li a {
      padding: 5px 3px;
  }

  .navbar-links.active {
      display: flex;
  }
}

header .row .col-md-7 {
  padding: 1vmin 1vmin;
  padding-bottom: 10vmin;
  text-align: center;
}


header {
 
background-size: cover;;
  background-repeat: no-repeat;
 background-image: url("../images/THMSTROKE-01 2.png");  
  background-position: 10% ;
  background-size: cover;
  transform:scaleX(-2rem);
  zoom: 0;
  height:40rem;
  width: 100%;
  z-index: 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}
@media (max-width:800px){
  header{
  background-image: url("../images/THMSTROKEmobilesesion.png");
    background-size: cover;
    height:50rem;
  width: 100%;
     padding: 0%;
     margin: 0%;
     
  
  }
  
header h1{
  color: #ffffff;
   font-family:aquire;
    font-size: 30vmin; 
    font-weight: bolder;
    top:-4rem;
  


}
.texts{
  padding-left: 20vh;
   float: left; 
}
.Mainhead{
  height:30vw;
   width: auto;
   float: left;
   margin:-5.771rem; 
   
}
.hillimage{
  z-index: 0;
   width:100vw;
   height: auto;
   margin-left: -7vw;
   position: relative;
   top:-50px;
}
.clear {
  clear: both;
  margin-top: 25px; 
}

}
header .container .col-md-12 h1 {

}


header .container .col-md-7 img {
  width: 50vmin;
  height: 10vmin;
}

header .container .col-md-7 h6{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}


header .container .col-md-7 h6 {
  padding: 1vmin;

}



header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}
header .container .col-md-7 h5 {
  font-family: "Montserrat", sans-serif;
  font-size:3vmin;
}
header .container .col-md-7 h3 {

  font-family:'Montserrat';
  font-weight: 500;
  font-size:5.6vmin;

}
header .container .col-md-7 h3 span.th{
  padding-top: 0.4em;
  font-family:'Montserrat';
  font-weight: 300;
  font-size:3vmin;
}

header .container .col-md-7 h6 {
  font-family: "Montserrat", sans-serif;
  font-size:2.2vmin;
}

@media (max-width: 800px) {
  header .container .col-md-7 h6 {
    font-size:0.01px;
    font-weight: 400;
    visibility: hidden;
  }
header .row .col-md-6 {
  padding: 1vmin 1vmin;
  padding-bottom: 10vmin;
}


  header .container .col-md-6 h3 {

    font-weight: 500;
    padding-top:0;
  }
  header .container .col-md-5 h3 span.th{
    font-weight: 500;
  }
  .mobileLanding{

  }
}

.powrdby{
  padding-left: 4rem;
}



.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}



#About{
  height: auto;
}


.section-1 {
  margin-top: 3%;
  padding: 2 2 2 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  background-color: #000000;
 
  
}
.section-1 .sectionhead{
  padding: 5rem 0rem 3rem 0rem ;
  color: #EB9C4D;
}

.section-1 .container{
  margin: 10px;
}
.section-1 .Subhead{
font-weight: 600;
font-family: Montserrat;
color: #ffffff;
font-size: 3rem;
}
.Subhead{
  font-weight: 600;
font-family: Montserrat;
color: #ffffff;
font-size: 3rem;
}
.section-1 .pray img {
  top:10px;
  width: 85vmin;
  border-radius: 0.5em;


}
.section-1 .pray2 img {

  width: 85vmin;
  height: auto;
  border-radius: 0.5em;
  

}
@media (max-width: 800px) {
  .section-1 .pray img {
    transform: translate(0,0);
  }
  .section-1 .pray2 img {
    transform: translate(0,0);
  }

}
.section-1 .pray img:hover{
  transition: 0.5s;
  delay:0.1s;
  /* transform: translate(-10px,-5px); */
  transform: scale(1.08);
}
.section-1 .pray2 img:hover{
  transition: 0.5s;
  delay:0.1s;
  transform: translate(0,0);
    transform: scale(1.08);
}

.section-1 .panel {
  box-shadow: 0 0 10px rgba(217, 143, 5, 1);
  background-color: #000000;
  border-radius: 2rem;
  text-align: left;
  padding: 2rem;
  box-shadow: 0,10px,10px,0 rgba(0,0,0,19),0 10px ,10px ,0 rgba(0,0,0,19);
  font-family: "Montserrat";
  z-index: 1;
  margin-top: 50px;

}

.section-1 .panel h1 {
  font-weight: bold;
  padding:0;
  color: white;
  font-size: 2em;
}

.section-1 .panel p {
  font-size: 0.9em;
  color: white;
  font-weight:500;
}

@media (max-width: 800px) {
  .section-1 {
    padding: 0%;
    height: auto;
  }
  
  .section-1 .panel {
    padding: 1rem;
  }

  .section-1 .panel p {
    font-size: 3vmin;
  }
  .section-1 .panel h1 {
    padding: 0.4em 0;
  }
}



/*  AITHON 1.0  */

.cimage{
  width: 900px;
  height: 400px;
}

.gap1{
 background-color: #000000;

}
  .carousel-item img {
    height: 30.25vw;
    width:50vw;

  }
  
  @media (max-width:800px)
  {
    .carousel-item img {
      height: 60.25vw;
      width:100vw;

    }
  }

/* Testimonial */



.cards div {
  padding: 0;
  margin: 0;


}

.cards .title {
  background-color:#ffff;
  padding: 1.4em 2.5em;
  font-size: 2vmin;
  color: #0dcaf0;
  border: 2px solid #000000;

}

.card .card-text {
  padding: 2.5rem 3rem;
  color: #000000;
  margin-top: 5px;
  border-top: 2px solid #000000;


}

/* .card-body .pricing {

  border-top-right-radius: 20vmin;
  border-top-left-radius: 20vmin;

}

.card-body .pricing > h1 {
  font-size: 10vmin;
  padding: 1em 0.5em;

} */








footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding-right: 2vmin;
  padding-left: 2vmin;
  text-decoration: none;
}

/* footer p, h6{
  color: white;
} */

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #dd2476;
}

/* It is Adjacent sibling combinator */

footer .column i + i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}







#canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



  #pre-loader
  {
    background: #000000 url("../THM.gif") no-repeat center center;
    background-size:15%;
    height: 100vh;
    width: 100vw;
    scale: 3;
    position: fixed;
    z-index: 100;
    transition-delay: 3s ;

  }


.imgcontainer{
  box-shadow: 0,10px,10px,0 rgba(0,0,0,19),0 10px 10px 0 rgba(0,0,0,19);
  height:400px;
  width:600px;
}


.sponsrimg{
height: 200px;
width: 200px;
}


#social-container {
  opacity: 0.9;
  bottom: 5px;
  right: 5px;
}
#social-container p{
  padding-bottom: 0;
  margin-bottom: 0;
}
#social-container #social-links a {
  font-size: 2.8rem;
}
#social-message {
  font-size: 1.15rem;
}







/* FOOTER */
 /* FOOTER */
 .footerbody {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
@media(min-width: 768px) {
  .footerbody {
      grid-template-columns: 1fr 2fr 1fr;
      align-content: center;
  }
}
/* CONTACT */
.footerleft {

  color: #f4f4f4;
  padding: 50px 10px 10px 40px;
  border: 2px solid #f4f4f4;
  border-radius: 25px;
  /* margin-left: 10px;
  margin-right: 10px; */
}
/* CONTACT */

/* MAP */
.footermain {
  border: 1px solid #f4f4f4;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
/* MAP */
/* MENU LINKS */
.footeraside {
color: #f4f4f4;
padding: 50px 10px 20px 10px;
border: 1px solid #ccc;
border-radius: 25px;
}
/* MENU LINKS */
a {
  text-decoration: none;
}
@media (max-width:800px)
{
  .footeraside p{
    font-size: 4vmin;
}
}
/* FOOTER */

/* TICKET REGISTERATION */


#register
{
  margin-top:5vmin;
  object-fit: contain;
}

#register .col-md-6 img:hover{
border:2px #EB9C4D;
transition: 3s;
}
@media (max-width:800px)
{
  #register
{
  margin-top:10vmin;
}

}

#scroller .iframe-container {
    position: relative;
    width: 100%;
    height: 110vmin;
    /* padding-bottom: 36.25%; 16:9 aspect ratio */

  
  }
  #scroller .iframe-container iframe {
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left:0 ;
    width: 100%;
    height: 100%;
    border: 0;
    pointer-events: none;
    
   
  }


  @media(max-width:800px) {
    #scroller .iframe-container {

    
     margin-bottom: 3vmin;
    }
    #scroller .iframe-container iframe {
    
      margin:0rem;
      scale: 0.8;
    }
  }

.iframe-container {
    position: relative;
    width: 100%;
    height: 100vmin;
    /* padding-bottom: 36.25%; 16:9 aspect ratio */
  
  }
 .iframe-container iframe {
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left:0 ;
    scale: 0.8;
 
    width: 100%;
    height: 100%;
    border: 0;
    pointer-events: none;
   
  }
  @media(max-width:800px) {
    .iframe-container {
      height: 100vmin;
    }
  }

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #EB9C4D; 
   font-size: 50px;
}

.card-box {
  border:2px solid #000000;
}

.blink-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #d98f05;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blink-button span {
  display: inline-block;

}

.blink-button:hover {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;;
  color: #d98f05;
  border: 1px solid #d98f05;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
}

.blink-button span {
  display: inline-block;

}



#register
{
  padding-top: 10rem;
 height: 62.5rem;
  object-fit: contain;
}

#register .col-md-6 img:hover{
border:2px #EB9C4D;
transition: 3s;
}
@media (max-width:800px)
{
  #register
{
  margin-top:10vmin;
}

}

.ticketIMG{
  top:-3rem;
  transform: rotate(60deg);
  height: 45vw;
  width: auto;
  object-fit: contain;
  transition: border 0.3s ease;
  /* box-shadow: 0,10px 10px 0 rgba(235, 156, 77, 1),0 10px 10px 0 rgba(235, 156, 77, 1); */
  transition: box-shadow 0.3s ease;
}
/* .ticket-card .ticketIMG:hover {
  border: 4px solid #EB9C4D; /* Add border on hover */
 */
 .ticketIMG:hover {
  box-shadow: 0px 4px 10px 2px #EB9C4D; /* Add box-shadow on hover */
}


/* TICKET REGISTERATION */
/* TIMELINE */
body {
  font-family: "Montserrat", sans-serif;
  


}
@media(max-width:800px){
#Schedule{
  padding-top: 5vmin;
  
}
 
}

